.wrapper{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion{
  width: 500px;
}


.item{
  background-color: rgb(236, 201, 96);
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
  height: auto;
}