.tic-tac-toe-container {
margin-top: 100px;
display: flex; 
flex-direction: column;
align-items: center;
}

 .square{
border: 1px solid red;
width: 100px;
height: 100px;
float: left;
margin-right: -1px;
margin-top: -1px;
font-size: 40px;
background-color: blanchedalmond;
cursor: pointer;
} 