nav{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   height: 72px;
}
.logo{
  width: 50px;
}
ul{
  display: flex;
   list-style-type: none;
   gap: 24px;
}

.menus a{
  text-decoration: none;
  color: black;

}
.login{
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

section{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding: 5px;
}

.info h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
  margin-bottom: 36px;
}
.info p{
  font-size: 16px;
  margin-bottom: 36px;
  max-width: 350px;
}

.shop{
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 10px;
}
.cat{
  all:unset;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid gray;
}
 

@media (max-width:1052px) {
  .info h1{
  font-size: 70px;
  font-weight: 800;
  line-height: 60px;
 
}
.img{
    width: 100%;
  }

}
@media (max-width:880px){
  section{
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
  }
 
}