.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.form-area p{
  margin-bottom: 20px;
}

.form-area button{
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}
.btns{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.emailBtn{
  background-color: transparent !important;
  color: black !important;
  margin-bottom: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input{
  padding: 10px;
}

.submitBtn{
 align-self: flex-end;
 padding-inline: 50px !important;
}

.img img{
  width: 100%;
}